{% extends "base.html" %}

{% block title %}Broad Atlas - Posts{% endblock %}

{% block content %}
<h2>Research Posts</h2>
<div id="postsContainer">
    {% for post in posts %}
    <div class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        {% if post.filename %}
        {% set file_size, file_extension, download_count = file_info(post.filename) %}
        <p><a href="{{ url_for('download_file', filename=post.filename) }}">Download attached file</a> (.{{
            file_extension }}, {{ (file_size / 1024) | round(2) }} KB, {{ download_count }} downloads)</p>
        {% endif %}
        <p><small>Posted by <a href="{{ url_for('view_user_profile', user_id=find_user_id(post.user)) }}">{{ post.user
                    }}</a></small></p>
        <p><small>Hashtags: {% for hashtag in post.hashtags %}#{{ hashtag }} {% endfor %}</small></p>
        <p><small>Likes: {{ post.likes }}</small></p>
        {% set liked = false %}
        {% for like in likes %}
        {% if like.post_id == post.id and like.user == current_user.name %}
        {% set liked = true %}
        {% endif %}
        {% endfor %}
        {% if not liked %}
        <form method="post" style="display: inline;">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit" name="like">Like</button>
        </form>
        {% else %}
        <p><small>You liked this post.</small></p>
        {% endif %}
        <h4>Comments:</h4>
        <ul>
            {% for comment in comments %}
            {% if comment.post_id == post.id %}
            <li>
                <strong>{{ comment.user }}:</strong> {{ comment.text }}
                <p><small>Likes: {{ comment_likes | selectattr('comment_id', 'equalto', comment.id) | list | length
                        }}</small></p>
                {% set liked_comment = false %}
                {% for like in comment_likes %}
                {% if like.comment_id == comment.id and like.user == current_user.name %}
                {% set liked_comment = true %}
                {% endif %}
                {% endfor %}
                {% if not liked_comment %}
                <form method="post" style="display: inline;">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <button type="submit" name="like_comment">Like</button>
                </form>
                {% else %}
                <p><small>You liked this comment.</small></p>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <form method="post">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <textarea name="comment" placeholder="Add a comment" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}