{% extends "base.html" %}

{% block title %}{{ user.name }}'s Profile{% endblock %}

{% block content %}
<h2>{{ user.name }}'s Profile</h2>
<div class="profile-container">
    <div class="profile-info">
        <p><strong>Job Title:</strong> {{ user.job_title }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Research Department:</strong> {{ user.department }}</p>
        {% if user.bio %}
        <p><strong>Bio:</strong> {{ user.bio }}</p>
        {% endif %}
        {% if user.research_interests %}
        <p><strong>Research Interests:</strong> {{ user.research_interests }}</p>
        {% endif %}
        {% if user.website %}
        <p><strong>Website:</strong> <a href="{{ user.website }}" target="_blank">{{ user.website }}</a></p>
        {% endif %}
        {% if user.profile_picture %}
        <p><strong>Profile Picture:</strong></p>
        <img src="{{ url_for('static', filename='uploads/' ~ user.profile_picture) }}" alt="Profile Picture"
            width="150">
        {% endif %}
        <h3>{{ user.name }}'s Posts</h3>
        <ul>
            {% for post in posts %}
            <li>{{ post.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="liked-posts">
        <h3>Posts {{ user.name }} has Liked</h3>
        <ul>
            {% for post in liked_posts %}
            <li><a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<h3>Followers</h3>
<ul>
    {% for follower_id in user.followers %}
    <li><a href="{{ url_for('view_user_profile', user_id=follower_id) }}">{{ users[follower_id].name }}</a></li>
    {% endfor %}
</ul>
<h3>Following</h3>
<ul>
    {% for following_id in user.following %}
    <li><a href="{{ url_for('view_user_profile', user_id=following_id) }}">{{ users[following_id].name }}</a></li>
    {% endfor %}
</ul>
{% if current_user.id != user.id %}
{% if current_user.id in user.followers %}
<a href="{{ url_for('unfollow_user', user_id=user.id) }}">Unfollow</a>
{% else %}
<a href="{{ url_for('follow_user', user_id=user.id) }}">Follow</a>
{% endif %}
{% endif %}
{% endblock %}